#container{
    height: 100%
}

#login{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#login label{
    width: 100%;
}

#login input{
    width: 100%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: none;
  font-size: 100%;
  font-family: "Kanit", sans-serif;
}

input:focus {
    outline-width: 0;
}

#loginbtn{
    margin-left: auto;
    margin-right: auto;
}