ul {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

li {
  display: inline;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: rgb(200, 199, 199);
}

a:link {
  text-decoration: none;
  color: white;
}

li a {
  padding: 10px;
}
