.categories {
    /* width: 700px; */
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
}

.category{
    width: 33%;
    height: 150px;
}

.category button{
    width: 100%;
    height: 100%;
    font-size: 1.5vw;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
  }
  
  body {
    margin: 12px;
    font-size: 100%;
    font-family: 'Kanit', sans-serif;
    color: white;
    height: 100%;
    background-image: url(../images/blueGradient.png);
    
  }
   

h1 {
    font-size: 70px;
    margin: auto;
    width: 90%;
    /* border: 3px solid #73AD21; */
    padding: 10px;
    text-align: center;
}

h2 {
    font-size: large;
    margin: auto;
    width: 90%;
    padding: 10px;
    text-align: center;
    
}

button {
    margin-top: 2px;
    /* border-radius: 12px;
    border: 2px; */
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    color: white;
    background: rgba( 155, 155, 155, 0.10 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 6px;
    outline: none;
    /* margin-top: 15px; */

    
}
  
button:hover {
    background: rgba(45, 44, 44, 0.1);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );

}

.difficulty {
 
        margin: auto;
        width: 100%;
        /* border: 10px solid #73AD21; */
        padding: 10px;
        text-align: center;
        height: 100%;

}

.Timer {
    color: white;
    margin: auto;
    width: 100%;
    /* border: 10px solid #73AD21; */
    padding: 10px;
    text-align: center;
    font-size: xx-large;
}

@media only screen and (max-width: 600px) {
    h1{
        font-size: x-large;
    }

    .categories {
        /* width: 700px; */
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 95%;
        /* border: 3px solid green; */
        padding: 10px;
    }


    .category{
            width: 33%;
            height: 70px;
        }

        .category button{
            font-size: 2.5vw;
        }
        
    }

  